fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
numpy
scikit-learn
mistralai
anthropic
openai
google-genai
python-dotenv
mysql-connector-python
PyJWT

# ML optionnel
xgboost

# Embeddings optionnels
sentence-transformers

# Tests
pytest
pytest-asyncio
httpx
python-multipart

# Memoire
redis>=4.5.0
fastapi-sessions
python-jose[cryptography]